
body {
  font-family: Myriad Pro;
}

/* Add a white background color to the top navigation */
.topnav {
  background-color:   #FFFFFF;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Myriad Pro;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #00a3ad;
  color: black;
}

/*PHOTO WITH TEXT*/ 

.container {
  position: relative;
  text-align: left;
  color: black;
  font-size: 25px;
}

.top-left-header {

  position: absolute;
  top: 75px;
  left: 60px;
  right: 400px;
}

.top-left-text {
  position: absolute;
  top: 150px;
  left: 60px;
  right: 400px;
}
.about {
  background: white;
  color: black;
  height: 1500px;
  margin-top: 75px;
 
}

/*CONTACT DETAILS*/ 

.row {
  display: flex;
}

.column {
  flex: 50%;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  font-size: 20px;
}

.map{
   margin-left: 150px;
   margin-right: 100px;
   margin-top: 75px;
}


/*train info*/

div#train {
  flex-wrap: nowrap;
  flex-direction:row;
  text-align: justify;
  overflow: hidden;
  display:flex;
  margin-left: 100px;
  margin-right: auto;
  margin-top: 75px;

}

div#traininfo {
  text-align: justify;
  flex: 1 1 auto;
  letter-spacing: 1;
  line-height: 1;
  margin-left: 35px;
  margin-right: 245px;
  font-size: 20px;
  margin-top: 10px;
}

div#trainphoto {
 
  object-fit: contain;
  float: left;
  margin-left: 20px;
  margin-top: 0px;
}

/*car info*/

div#car {
  flex-wrap: nowrap;
  flex-direction:row;
  text-align: justify;
  overflow: hidden;
  display:flex;
  margin-left: 100px;
  margin-right: auto;
  margin-top: 20px;
 } 

div#carinfo {
  text-align: justify;
  flex: 1 1 auto;
  letter-spacing: 1;
  line-height: 1;
  margin-left: 35px;
  margin-right: 245px;
  font-size: 20px;
  }

div#carphoto {
 
  object-fit: contain;
  float: left;
  margin-left: 20px;
  margin-top: 0px;
}

/*plane info*/ 

div#plane {
  flex-wrap: nowrap;
  flex-direction:row;
  text-align: justify;
  overflow: hidden;
  display:flex;
  margin-left: 100px;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px
 } 

div#planeinfo {
  text-align: justify;
  flex: 1 1 auto;
  letter-spacing: 1;
  line-height: 1;
  margin-left: 35px;
  margin-right: 245px;
  font-size: 20px;
  }

div#planephoto {
 
  object-fit: contain;
  float: left;
  margin-left: 20px;
  margin-top: 0px;
}

/*footer*/

.footer {
  position: ;
  left: 0;
  bottom: 20px;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

.line1 {
  word-spacing: 30px;
}